<form method="post" action="{{ path('favorite_recipe_delete', {'id': favorite_recipe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ favorite_recipe.id) }}">
    <button class="btn">Delete</button>
</form>
