{% extends 'base.html.twig' %}

{% block title %}FavoriteRecipe index{% endblock %}

{% block body %}
    <h1>FavoriteRecipe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for favorite_recipe in favorite_recipes %}
            <tr>
                <td>{{ favorite_recipe.id }}</td>
                <td>
                    <a href="{{ path('favorite_recipe_show', {'id': favorite_recipe.id}) }}">show</a>
                    <a href="{{ path('favorite_recipe_edit', {'id': favorite_recipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('favorite_recipe_new') }}">Create new</a>
{% endblock %}
